header {
    padding: 35px 70px;
    flex: 0 1 auto;
}

.about_us {
    flex: 1 1 auto;
    padding: 0;
    min-height: 65vh;
}

.about_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 47px 70px 0 70px;
}

.about_content .about_text {
    width: 50%;
}

.about_content p {
    padding-top: 10px;
    color: #555555;
}

.about_content .korpon_logo {
    width: 50%;
    text-align: center;
    padding: 40px 0 170px 0;
}

.terminals {
    background: #F3F3F3;
    border: 2px solid #D1D1D1;
    border-radius: 7px;
    margin-top: 15px;
    padding: 19px 16px;
    color: #5A5A5A;
    font-weight: 700;
}

.terminals a,
.terminals a:hover {
    color: #5A5A5A;
}

@media screen and (max-width:576px) {
    .about_content {
        padding: 27px;
    }
    .terminals {
        line-height: 22px;
    }
}

@media screen and (max-width:768px) {
    .about_content .about_text {
        width: 100%;
    }
    .about_content .korpon_logo {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .about_content .korpon_logo {
        text-align: right;
    }
}